{% extends 'main/layout.html' %}

{% block title %}
    Создание новой подборки задач
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Создание новой подборки задач</h1>
        <form action="{% url 'add_task' %}" method="post">
            {% csrf_token %}
            {% for f in form %}
                {{ f }} <br>
                <div class="form-error">{{ f.errors }} </div>
            {% endfor %}

            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
{% endblock %}