{% extends 'main/layout.html' %}

{% block title %}
    {% for el in groups %} {{el.group_number }} : {{ el.group_title }}  {% endfor %}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>
            {% for el in groups %}
                {{ el.group_number }}: {{ el.group_title }}
            <a href="{% url 'edit_group' el.id %}" class="btn btn-warning">Изменить</a>
            <a href="{% url 'delete_group' el.id %}" class="btn btn-danger">Удалить</a>

        </h1>
        <h3>
            Студенты: <a href="{% url 'add_student' el.id  %}" class="btn btn-success">Добавить студента</a>
        </h3>
        {% endfor %}
        {% for el in students %}
            <h3>
                {{el.info}}
                <a href="{% url 'edit_student' el.id %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'delete_student' el.id  %}" class="btn btn-danger">Удалить</a>
            </h3>
        {% endfor %}


    </div>
{% endblock %}