{% extends 'main/layout.html' %}

{% block title %}
    {{ groups }}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>
            {% for el in groups %}
                {{ el.group_number }}: {{ el.group_title }}
            <a href="{% url 'edit_group' el.id %}" class="btn btn-warning">Изменить</a>
            <a href="{% url 'delete_group' el.id %}" class="btn btn-danger">Удалить</a>
            {% endfor %}
        </h1>

        {% for el in students %}
           <p> {{el.info}} </p>
        {% endfor %}


    </div>
{% endblock %}