{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %} ">

    <link rel="stylesheet" href="{% static 'main/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %} ">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>


   <!-- <div class="navbar navbar-inverse navbar-fixed-top">

            <a href="{% url 'home' %}"> <i class="fas fa-home"></i> Главная </a>
            <a href="{% url 'groups_home' %}"> <i class="fas fa-address-card"></i> Группы </a>
            <a href="{% url 'task_home' %}"> <i class="fas fa-paper-plane"></i> Задачи </a>


    </div>-->
<div class="container">
    <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a href="{% url 'home' %}"> <i class="fas fa-home"></i> Главная </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{% url 'groups_home' %}"> <i class="fas fa-address-card"></i> Группы </a>&nbsp;&nbsp;</li>
            <li class="nav-item"><a href="{% url 'task_home' %}"> <i class="fas fa-paper-plane"></i> Задачи </a></li>

            </ul>
            </div>
        </div>
    </nav>

</div>


        <div class="container">
            {% block content %}
            {% endblock %}
        </div>


</body>
</html>