body {
    background:  #fec771;
}

breadcrumb > li + li::before {

    color:black;

}
.left{
    position: relative;
    left: 20px;
}
.right{
    position: relative;
    margin-left: 70%;
}
.block{
    display: inline;
}

.block-content{

	padding: 10px 30px;
	box-sizing:border-box;
	margin: 20px 0;

	border-radius: 5px;
    font-size: 120%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;

}


.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}



/* add sorting icons to gridview sort links */


/* align the logout "link" (button in form) of the navbar */

aside {
    float:top;
    background: #0088cc;
    width: 100%;
    padding: 1%;
    height: 20%;
    color: #fff
    border-right: 5px solid #0094cc;
}
aside .navigation{
    font-size:125%;
    margin-left: 10%;
    font-weight: bold;
    margin-top: 35%;
}

aside p{
    font-size:125%;
    font-weight: bold;
    color: black;
    display: block;
    margin-top: 20px;
    transition: transform .4s ease;

}
a:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);

}

aside ul{
    list-style: none;

}
aside ul li{
    color: black;
    display: block;
    margin-top: 20px;
    transition: transform .4s ease;
}
aside ul li:hover, aside ul a:hover{
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);

}

.features {

    text-align: center;

}


form {
    margin-left:32%;
    width: 500px;
    margin-top: 50px;
}

.header-wrapper{
    max-width: 1400px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    margin-left: 60px;
}
.header-menu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 650px;
}

.header-menu-link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    /* Ширина между элементами навбара */
    margin-right: 35px;
    line-height: 22px;
    cursor: pointer;

}
.header-menu-link-sign{
    color: #000000;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    border: 2px solid #007bff;
    border-radius: 3px;
    font-size: 18px;
}
.header-menu-link-sign:hover {
    background-color: #e0ffff;
}

.button {
    width:100px;
    height:40px;
    margin-top:-10px;
    vertical-align:center;
}
margin_top{
    margin-top:-10px;
}


.button-add {
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #16df1d; /* Green */
    border-radius: 8px;
    color: rgb(19, 102, 44);

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;

    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-update {
    background-color: #ffffff;
    border: 2px solid #151336; /* Green */
    border-radius: 8px;
    color: rgb(43, 30, 90);

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button-delete {
    background-color: #ffffff;
    border: 2px solid #9b2929; /* Green */
    border-radius: 8px;
    color: rgb(94, 28, 28);

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-add:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.button-update:hover {
    background-color: #21225c; /* Green */
    color: white;
}
.button-delete:hover {
    background-color: #6b2f2f; /* Green */
    color: white;
}